nav {
  background: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
  position: fixed;
  top: 0;
}