.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 20px;
  width: 350px;
  margin: 40px 0;
  align-self: start;
  color: #333333;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);

  &__rating {
    margin-top: 10px;
    display: flex;
    align-items: center;

    &__star {
      font-size: 30px;
    }
}

  &__image {
    width: 150px;
    height: 150px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-size: 24px;

    &__btn {
      margin-top: 20px;
      padding: 10px 0px;
      width: 220px;
      border: none;
      border-radius: 10px;
      background: #333333;
      color: white;
      font-size: 16px;
      cursor: pointer;
      transition: 0.2s ease all;

      &:hover {
        background: #1A120B;
      }
    }
  }

  &__name {
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
  }

  &__price {
    font-size: 24px;
    font-weight: 500;
    margin-top: 5px;
    text-align: center;
  }

  &__description {
    font-size: 20px;
    margin: 25px 0 0 0;
    text-align: center;
    font-weight: 500;
  }
}

.icon {
  font-size: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}